In [30]:
import numpy as np, pandas as pd, polars as pl

Import and clean data

In [31]:
train = pd.read_csv("train.csv").drop('id', axis=1)
train.info()
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 11 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Podcast_Name                 750000 non-null  object
 1   Episode_Title                750000 non-null  object
 2   Episode_Length_minutes       662907 non-null  float64
 3   Genre                        750000 non-null  object
 4   Host_Popularity_percentage   750000 non-null  float64
 5   Publication_Day              750000 non-null  object
 6   Publication_Time             750000 non-null  object
 7   Guest_Popularity_percentage  603970 non-null  float64
 8   Number_of_Ads                749999 non-null  float64
 9   Episode_Sentiment            750000 non-null  object
 10  Listening_Time_minutes       750000 non-null  float64
dtypes: float64(5), object(6)
memory usage: 62.9+ MB

,Podcast_Name,Episode_Title,Episode_Length_minutes,Genre,Host_Popularity_percentage,Publication_Day,Publication_Time,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment,Listening_Time_minutes
0,Mystery Matters,Episode 98,NaN,True Crime,74.81,Thursday,Night,NaN,0.0,Positive,31.41998
1,Joke Junction,Episode 26,119.80,Comedy,66.95,Saturday,Afternoon,75.95,2.0,Negative,88.01241
2,Study Sessions,Episode 16,73.90,Education,69.97,Tuesday,Evening,8.97,0.0,Negative,44.92531
3,Digital Digest,Episode 45,67.17,Technology,57.22,Monday,Morning,78.70,2.0,Positive,46.27824
4,Mind & Body,Episode 86,110.51,Health,80.07,Monday,Afternoon,58.68,3.0,Neutral,75.61031

In [32]:
test = pd.read_csv("test.csv").drop('id', axis=1)
test.info()
test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Podcast_Name                 250000 non-null  object
 1   Episode_Title                250000 non-null  object
 2   Episode_Length_minutes       221264 non-null  float64
 3   Genre                        250000 non-null  object
 4   Host_Popularity_percentage   250000 non-null  float64
 5   Publication_Day              250000 non-null  object
 6   Publication_Time             250000 non-null  object
 7   Guest_Popularity_percentage  201168 non-null  float64
 8   Number_of_Ads                250000 non-null  float64
 9   Episode_Sentiment            250000 non-null  object
dtypes: float64(4), object(6)
memory usage: 19.1+ MB

,Podcast_Name,Episode_Title,Episode_Length_minutes,Genre,Host_Popularity_percentage,Publication_Day,Publication_Time,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment
0,Educational Nuggets,Episode 73,78.96,Education,38.11,Saturday,Evening,53.33,1.0,Neutral
1,Sound Waves,Episode 23,27.87,Music,71.29,Sunday,Morning,NaN,0.0,Neutral
2,Joke Junction,Episode 11,69.10,Comedy,67.89,Friday,Evening,97.51,0.0,Positive
3,Comedy Corner,Episode 73,115.39,Comedy,23.40,Sunday,Morning,51.75,2.0,Positive
4,Life Lessons,Episode 50,72.32,Lifestyle,58.10,Wednesday,Morning,11.30,2.0,Neutral

In [48]:
def getNaN(df):
    df = df.isnull().sum()
    df = df[1:].reset_index()
    return df.sort_values(by=0, ascending=False).reset_index(drop=True)

getNaN(train)

                         index       0
0  Guest_Popularity_percentage  146030
1       Episode_Length_minutes   87093
2                Number_of_Ads       1
3                Episode_Title       0
4                        Genre       0
5   Host_Popularity_percentage       0
6              Publication_Day       0
7             Publication_Time       0
8            Episode_Sentiment       0
9       Listening_Time_minutes       0

In [34]:
train['Episode_Title'].unique()

array(['Episode 98', 'Episode 26', 'Episode 16', 'Episode 45',
       'Episode 86', 'Episode 19', 'Episode 47', 'Episode 44',
       'Episode 32', 'Episode 81', 'Episode 66', 'Episode 62',
       'Episode 76', 'Episode 37', 'Episode 20', 'Episode 82',
       'Episode 72', 'Episode 61', 'Episode 100', 'Episode 54',
       'Episode 17', 'Episode 36', 'Episode 97', 'Episode 27',
       'Episode 31', 'Episode 88', 'Episode 38', 'Episode 92',
       'Episode 74', 'Episode 30', 'Episode 63', 'Episode 67',
       'Episode 77', 'Episode 4', 'Episode 93', 'Episode 24', 'Episode 1',
       'Episode 2', 'Episode 25', 'Episode 56', 'Episode 75',
       'Episode 12', 'Episode 21', 'Episode 6', 'Episode 85',
       'Episode 23', 'Episode 33', 'Episode 7', 'Episode 53',
       'Episode 15', 'Episode 43', 'Episode 71', 'Episode 69',
       'Episode 13', 'Episode 89', 'Episode 3', 'Episode 64',
       'Episode 73', 'Episode 79', 'Episode 94', 'Episode 80',
       'Episode 42', 'Episode 10', 'Episode 48', 'Episode 96',
       'Episode 40', 'Episode 49', 'Episode 9', 'Episode 50',
       'Episode 78', 'Episode 84', 'Episode 87', 'Episode 58',
       'Episode 57', 'Episode 59', 'Episode 39', 'Episode 46',
       'Episode 91', 'Episode 35', 'Episode 8', 'Episode 90', 'Episode 5',
       'Episode 65', 'Episode 11', 'Episode 51', 'Episode 99',
       'Episode 14', 'Episode 41', 'Episode 18', 'Episode 95',
       'Episode 83', 'Episode 55', 'Episode 29', 'Episode 68',
       'Episode 34', 'Episode 22', 'Episode 60', 'Episode 52',
       'Episode 28', 'Episode 70'], dtype=object)

In [35]:
def cutEpisode(title):
    return title[8:]

train['Episode_Title'].missing_df = df.isnull()
train['Episode_Title'] = train['Episode_Title'].apply(lambda x: cutEpisode(x))
train['Episode_Title'].head()

NameError: name 'df' is not defined